<div>
	<ng-container *ngIf="donuts.length; else nothing">
		<donut-card [donut]="donuts[0]"></donut-card>
		<donut-card [donut]="donuts[1]"></donut-card>
		<donut-card [donut]="donuts[2]"></donut-card>
	</ng-container>

	<ng-template [ngIf]="donuts.length" [ngIfElse]="nothing">
		<donut-card [donut]="donuts[0]"></donut-card>
		<donut-card [donut]="donuts[1]"></donut-card>
		<donut-card [donut]="donuts[2]"></donut-card>
	</ng-template>

	<ng-template #nothing>
		<p>No donuts here..</p>
	</ng-template>
</div>
